.loader {
  border: 6px solid #ddd;
  border-top: 6px solid #C49E6C;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
